body{
    background-color: #E8E8E8;
}
#carouselExampleControls{
    margin-top: 20px;
}
#c_images{
    height:300px;
    width: 200px;
    padding-top: 50px;
}
.d-inline-block align-top{
    margin-right: 5px;
}
#nav_i{
    color: white;
}
.dropdown-item{
    font-size: 13px;
}
#search-bar{
    font-size: 12px;
    width: 500px;
    height: inherit;
    margin-left: 10px;
}
hr{
    margin: 0.5px;
}
